:root
{
    --white-base: #eaeaea;
    --prp-base: #6A6388;
}

*
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    box-sizing: border-box;
    font-family: "Libre Franklin", sans-serif;
}

body
{
    margin: 0;
    padding: 0;
}

header
{
    width: 100%;
    height: 55px;
    background-color: #82799c;
    box-shadow: 0 1px 2px var(--prp-base);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 6% 0 2%;
}


.logo-link
{
    width: 3.4em;
}

.logo
{
    width: 100%;
}

nav
{
    display: flex;
    min-width: max-content;
    padding-right: 2.5%;
}

.nav__link
{
    min-width: max-content;
    text-decoration: none;
    color: var(--white-base);
    font-size:16pt;
    font-weight: 500;
    margin: 0 4%;
}

.nav__link:hover
{
    color: #f9f9f9;
}

.navig
{
    min-width: max-content;
    text-align: center;
    overflow: hidden;
    width: 100%;
}


/* -----------MAIN---------- */

main
{
    width: 100%;
    text-wrap: wrap;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: var(--white-base);
    padding: 24px 30px 0 30px;
    color: var(--prp-base);
}

.hero__heading {
    font-size: 24pt;
    margin-bottom: 5pt;
}

.hero__p {
    width: 80%;
    align-self: flex-end;
    font-size: 12.3pt;
    text-align: right;
}


.hero__button
{
    background-color: var(--prp-base);
    border: 0;
    color: var(--white-base);
    width: 134pt;
    height: 34pt;
    align-self: flex-end;
    border-radius: 20px;
    font-size: 14pt;
    font-weight: 500;
    margin: 10px 0 0 0;
}

.hero__button:hover
{
    background-color: #726b93;
    color: #f2f2f2;
}

.hero__text--login, .hero__login
{
    align-self: flex-end;
    font-size: 9pt;
    opacity: 0.65;
}

.hero__img > img {
    width: 100%;
}


/* --------OPIS--------- */

.opis
{
    width: 100%;
    padding: 10px 30px 0 30px;
    background-color: #cddbf5;
    text-align: center;
    color: #4c4763;
}

.opis__heading
{
    margin: 30px;
    font-size: 18pt;
}

.opis__p
{
    /* line-height: 30px; */
    font-size: 16pt;
}

.opis__button
{
    width: 80%;
    height: 44px;
    border: 0;
    background-color: var(--white-base);
    font-size: 14pt;
    font-weight: 500;
    color: #4c4763;
    margin: 20px 0 0 0;
    border-radius: 18px;
}

.opis__button:hover
{
    background-color: #f3f3f3;
}

.opis__img
{
    width: 70%;
    margin: 20px 0 20px 0 ;

}


/* ----------POSTS----------- */

.posts
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #eaeaea;
    color: #6A6388;
}

.posts > h2 
{
    font-size: 20pt;
    margin: 20px 0 40px 0;
}

.post
{
    width: 76%;
    background-color: #fafafa;
    margin: 20px 0;
    padding: 30px 40px;
    border-radius: 14px;

}

.post__p
{
    padding: 20px 0;
}

.post__button
{
    border: 0;
    background-color: #6A6388;
    color: #eaeaea;
    width: 40%;
    height: 30px;
    border-radius: 10px;
}

.post__button:hover
{
    background-color: #6a6388df;
    color: #eaeaea;
}









@media only screen and (min-width:900px)
{

    header
    {
        justify-content: space-between;
        height: 85px;
    }

    .nav__link
    {
        padding: 0 20px;
    }

    .logo-link
    {
        width: 3.8em;
    }

    .nav__link
    {
        font-size:19pt;
    }

    /* -----------HERO---------- */

    .hero {
        display: flex;
        background-color: var(--white-base);
        padding: 10px 40px 20px 44px;
        color: var(--prp-base);
    }

    .hero__heading {
        width: 48%;    
        font-size: 38pt;
    }

    .hero__p {
        width: 48%;
        font-size: 17pt;
        line-height: 38px;
        text-align: left;
        align-self: flex-start;
    }

    .hero__button
    {
        width: 200pt;
        height: 46pt;
        align-self: flex-start;
        border-radius: 20px;
        font-size: 16pt;
        margin: 22px 0 0 0;
    }

    .hero__button:hover
    {
        background-color: #726b93;
        color: #f2f2f2;
    }

    .hero__text--login, .hero__login
    {
        align-self: flex-start;
        font-size: 11pt;
        text-indent: 8px;
        opacity: 0.65;
    }

    .hero__img > img {
        width: 52%;
        position: absolute;
        top: 20%;
        right: 0;
    }

    /* ---------OPIS--------- */

    .opis
    {
        display: flex;
        flex-direction: column;
        padding: 20px 30px 0 30px;
    }

    .opis__heading
    {
        width: 50%;
        text-align: left;
        font-size: 28pt;
        align-self: flex-end;
        margin: 36px 0 0 0;
    }

    .opis__p
    {
        width: 50%;
        font-size: 20pt;
        align-self: flex-end;
        text-align: left;
    }

    .opis__button
    {
        width: 40%;
        height: 50px;
        align-self: flex-end;
        margin: 20px 10px 30px 0;
        border-radius: 16px;
    }

    .opis__img
    {
        width: 36%;
        position: absolute;
        top: 39em;
    }



    /* ---------POSTS---------- */

    .posts > h2
    {
        font-size: 28pt;
    }

    .post__heading
    {
        font-size: 21pt;
    }

    .post__p
    {
        font-size: 18pt;
    }

    .post__button
    {
        border: 0;
        background-color: #6A6388;
        color: #eaeaea;
        width: 46%;
        height: 40px;
        border-radius: 16px;
    }
   




    }


